<%- include("header") -%>

    <div class="container">
        <div class="row justify-content-md-center">
            <%- include("sidebar") -%>
            <div class="col-7 center-col">
                <div class="weather-report">
                    <h3>Temperature : <%=temperature%> </h3>
                </div>
            </div>
            <div class="col-3">

            </div>
        </div>
    </div>


<%- include("footer") -%>
