<%- include("header") -%>

    <div class="container">
        <div class="row justify-content-md-center">
            <%- include("sidebar") -%>
            <div class="col-7 center-col">


                <h1>Welcome To My Weather App</h1>


            </div>
            <div class="col-3">

            </div>
        </div>
    </div>


<%- include("footer") -%>
