<%- include("header") -%>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-1">
                <i class="fa-solid fa-house"></i>
            </div>
            <div class="col-8 center-col">

            </div>
            <div class="col-3">

            </div>
        </div>
    </div>


<%- include("footer") -%>
