<%- include("header") -%>

    <div class="container">
        <div class="row justify-content-md-center">
            <%- include("sidebar") -%>
            <div class="col-7 center-col">
                <h1>List Of Your Cities : </h1>
                <% for (let i = 0; i < cityList.length; i++) {%>
                    <li> <%= cityList[i].name %> </li>
                <%}%>
            </div>
            <div class="col-3">
                <form action="myCities" method="post">
                        <input id="cityAddTextBox" class="" type="text" name="newCity">
                        <button id="handle" class="button justify-content-md-center" type="submit" name="button">
                            <i id="addIcon" class="fa-solid fa-plus"></i>
                        </button>
                </form>
            </div>
        </div>
    </div>


<%- include("footer") -%>