<div class="left-col col-2">
    <ul>
        <li id="homeItem" class="">
            <i class="fa-solid fa-house"> <a href="/"> Home </a> </i>
        </li>
        <li id="citiesItem" class="">
            <i class="fa-solid fa-house"> <a href="myCities"> My Cities </a> </i>
        </li>
    </ul>
</div>


